body {
    overflow: hidden;
    background-image: url(colorful-coral-reef-under-sea-600nw-2043152465.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: aqua;
}


#shark{
    top: 10%;
    left: 0%;
    position:absolute;
    animation-name: Shark;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Shark {
    20%  {top: 40%; left: 80%; transform: rotate(20deg)}
    40%  {top: 80%; left: 90%; transform: scaleX(-1);}
    60%  {top: 50%; left: 50%; transform: scaleX(-1);}
    80% {top: 60%; left: 5%; transform: scaleX(-1);}
    100% {top: 10%; left: 0%;}
}

#diver1{
    top: 50px;
    left: 20px;
    position: absolute;
    animation-name: Diver1;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Diver1 {
    25% {left: 70px; top: 85%; transform: scaleX(1);}
    47% { left: 730px; top: 67%; transform: scaleX(1);}
    50% {left: 750px; top: 70%; transform: scaleX(-1);}
    75% {left: 500px; top: 10%; transform: scaleX(-1);}
    97% {left:25px; top: 55px; transform: scaleX(-1);}
    100% {left: 20px; top: 50px;  transform: scaleX(1);}
}

#diver2 {
    top: 5%;
    left: 80%;
    position: absolute;
    animation-name: Diver2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transform:scaleX(-1);
}

@keyframes Diver2{
    0% {left: 80%; top: 5%; transform: scaleX(1);}
    5% {top: 5%; left: 80%; transform: scaleX(-1);}
    15% {top: 40%; left: 70%;}
    35% {left: 50%; top: 75%;}
    55% {left: 25%; top: 65%;}
    73% {left: 5%; top: 63%; transform: scaleX(-1);}
    77% {left: 2%; top: 60%; transform: scaleX(1);}
    90% {left: 22%; top: 15%; transform: scaleX(1);}
    100% {left: 78%; top: 6%; transform: scaleX(1);}
}

#turtle{
    top: 80%;
    left: 2%;
    position: absolute;
    animation-name: Turtle;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Turtle{
    0%  {top: 80%; left: 2%;}
    15%  {top: 5%; left: 20%; transform:rotate(-15deg)}
    30%  {top: 40%; left: 55%; transform:rotate(25deg)}
    45%  {top: 17%; left: 77%; transform:rotate(-10deg)}
    57%  {top: 60%; left: 83%; transform:scaleX(1);  transform:rotate(45deg);}
    60%  {top: 63%; left: 85%; transform:scaleX(-1)}
    75%  {top: 70%; left: 67%; transform:scaleX(-1)}
    90%  {top: 76%; left: 35%; transform:scaleX(-1)}
    98%  {top: 76%; left: 7%; transform:scaleX(-1)}
    100%  {top: 78%; left: 3%;}
}

#goldfishSchool{
    top: 70%;
    left: 12%;
    position: absolute;
    animation-name: goldfishSchool;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes goldfishSchool{
    25%  {top: 80%; left: 68%; transform:rotate(0deg);}
    27%  {top: 80%; left: 68%; transform:scaleX(-1); transform:rotate(-80deg);}
    43%  {top: 7%; left: 83%; transform:scaleX(1); transform:rotate(-80deg);}
    45%  {top: 5%; left: 85%; transform:scaleX(-1);}
    65%  {top: 10%; left: 6%; transform:scaleX(-1);}
    67%  {top: 12%; left: 8%; transform:scaleX(1); transform:rotate(10deg);}
    85%  {top: 65%; left: 2%;}
}









