body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    color: #666;
}

.Parent {
    display:flex;
}

.Parent div {
    float: left;
    clear:none;
    display:flex;
    justify-content:center;
}

.Parent_2 {
    display:flex;
    justify-content:flex-end;
}

.Parent_2 div {
    float: left;
    clear:none;
    display:flex;
    justify-content:center;
}

.MainNode {
    font-size: 10px;
    color: #333;
    border-radius:100px;
    border-style:solid;
    border-width:5px 5px;
    width: 15%;
    text-align:center;
    margin: 50px;
    cursor: pointer;
}

.MainNode:hover {
    transform: scale(1.05);
    transition: 0.2s;
    background: #fff;
    display: flex;
}

.section-title {
    margin:30px;
}

.bottom-place-container {
    position: fixed;
    bottom: 40px;     
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 999;
}

.place-list {
    display: flex;
    gap: 20px;
}

.place-card {
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
}

.place-card:hover {
    transform: scale(1.05);
}

.back-btn {
    padding: 8px 16px;
    background: #0077ff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.detail-img {
    width: 100%;
    max-width: 700px;
    border-radius: 12px;
    margin: 20px 0;
}

.detail-desc {
    font-size: 18px;
    line-height: 1.6;
}

